.contentPageGuest {
  height: 100vh;
}
.wallpaper {
  background-position: center;
  background-size: cover;
  height: 92.8vh;
  overflow: hidden;
  z-index: -1;
}

.search-section {
  position: absolute;
  top: 15%;
  left: 50%;
}
.Logout-button {
  position: absolute;
  top: 7%;
  right: 5%;
}

.checkButtons {
  position: absolute;
  display: flex;
  top: 50%;
  left: 45%;
  height: 60px;
}
.check-Button {
  width: 200px;
  margin: 10px;
  background-color: #1881c7;
  color: #fff;
  border: none;
  outline: none;
  box-shadow: 0 7px 2px -2px rgba(0, 0, 0, 0.2);
  border-radius: 40px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
}
.findOut-Button {
  position: absolute;
  bottom: 20%;
  left: 20%;
  max-width: 300px;
  height: 150px;
  border-radius: 100px;
  background-color: rgba(0, 0, 0, 0.4);
  border: none;
  outline: none;
}

.findOut-Button:hover {
  cursor: pointer;
}

.link-AboutUs {
  font-size: 24px;
  text-align: center;
  text-decoration: none;
  color: white;
}

.link-AboutUs p {
  opacity: 100%;
}
