.check {
  border-radius: 20px;
  height: 30px;
  width: 80px;
  background-color: rgb(26, 155, 241);
  color: #fff;
  border: none;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
}

.check:hover {
  background-color: rgb(24, 133, 206);
}

.check:focus {
  border: none;
  outline: none;
}

h6 {
  color: black;
}
